<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-4">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto mb-2" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        <a href="/">&larr; go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
