<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tickets</h1>
    </div>
        {{> status}}
        <!-- Collapsable Cards -->
        <div class="tickets-display">
        {{#if this.tickets}}
            {{> tickets}}
        {{else}}
            <h1>No Tickets Yet...</h1>
        {{/if}}
      </div>
</div>
