{{#each this.tickets}}
    {{#if openDiv}}
        <div class="col-lg-6">
    {{/if}}
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                {{description}}, {{deadlineUI}}
            </div>
        </div>
    </div>
    {{#if closeDiv}}
        </div>
    {{/if}}
{{/each}}
