<div class="bg-modal">
    <div id="modal" class="modal-contents">

        <div class="close-bg-modal">+</div>

        <form class="ticket-form">
            <header class="ticket-header">Create a ticket</header>
            <fieldset class="ticket-fieldset">
                <div class="row">
                    <div class="col">
                        <input placeholder="Title" class="text-field title" type="text" id="title">
                    </div>

                    <div class="col">
                        <select id="department">
                            <option value="" disabled selected>Select Department</option>
                            <option value="Sales">Sales</option>
                            <option value="IT department">IT department</option>
                            <option value="Customer Support">Customer Support</option>
                            <option value="Staff">Staff</option>
                            <option value="External">External</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select id="priority">
                            <option value="" disabled selected>Select Priority</option>
                            <option value="Urgent">Urgent</option>
                            <option value="Normal">Normal</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="col">
                        <input placeholder="Deadline" class="text-field title" id="deadline">
                    </div>
                </div>
            </fieldset>
            <fieldset class="ticket-fieldset">
                <textarea placeholder="Description..." class="text-field description" id="description"></textarea>
            </fieldset>
            <div class="btn btn-success btn-icon-split submit">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Submit</span>
            </div>
        </form>

    </div>
</div>
